.container{
    width: 300px;px;
    margin: 0px auto;
}
body{
background:whitesmoke;
} 

.body{
     justify-content: center;
    text-align: center;
    display: flex;
    padding: 30px 3px;
     position: absolute; 
 top: 50%;
 left: 50%; 
    transform: translate(-50%,-50%); 
     background: white; 
    border-radius: 0px; 
    height: 460px; 
    width: 295px;
    
}
.button{
    background-color: black;
    width: 200px;
    height:40px;
    border-radius: 20px;
    color: yellow; 
}
.login{
width: 200px;
height: 40px;
border-radius: 20px;
background-color: silver;
color: white;
border: 0cap;
}
input{
   width: 100%;
padding: 0px;
height: 30px;
   border:none;
   background:none;
   outline: none;
font-size: 12px;
 border-radius: 0px;
 border-bottom: 2px solid black;

} 
h1{
    font-size: 20px;    
}
.pass,.signup,.Logging{
    font-size: 10px;
}
.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    height: 60px;   
}
.forgot{
color: blue;
display: flex;
justify-content: space-between;
align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.Vector{
    padding: 10px;
    width: 50px;
}









    
